body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: #fff;
}

h1, h2, h3 {
    margin: 0;
}

p {
    color: #ccc;
    line-height: 1.6;
}

.header {
    position: sticky;
    top: 0;
    background-color: #007BFF;
    text-align: center;
    padding: 20px;
    z-index: 100;
}

.header p {
    margin-top: 5px;
    font-size: 14px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #1f1f1f;
    padding: 25px;
    border-radius: 12px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-info h2 {
    color: #b2ff59;
    margin-bottom: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.skill {
    background-color: #007BFF;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    font-size: 13px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card h3 {
    color: #b2ff59;
}

/* ESPECIALIDADES - FLEXBOX */
.specialties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.chip {
    background-color: #28a745;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 13px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #aaa;
}

/* =========================
   MEDIA QUERIES
   ========================= */

/* TABLET */
@media (max-width: 768px) {

    .profile {
        flex-direction: column;
        text-align: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.social-links a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.social-links a:hover {
    color: #b2ff59;
    transform: scale(1.1);
}/* CELULAR */
@media (max-width: 480px) {

    .container {
        padding: 25px 15px;
    }

    .avatar {
        width: 90px;
        height: 90px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}
